$primary: #c8131c;
$dark: #060000;

@import '~bootstrap/scss/bootstrap';
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );



/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
}


.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.h-100 {
    height: 100% !important;
}

/*********************************************************************
                        Utility Classes
**********************************************************************/
.light-gray-bg {
  background-color: $gray-200;
}

.title {
  font-weight: 600;
  text-transform: uppercase;
}




/*********************************************************************
                        Background images
**********************************************************************/
#home-page-background {
  background-image: url("../../../assets/images/Chalk-Deadlift-Filtered.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20rem;
}

#eval-page-background {
  background-image: url("../../../assets/images/Female-KB.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 20rem;
}


#footer-background {
  background-image: url("../../../assets/images/Chalk-Deadlift-Filtered.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width: 100%; */
  height: 20rem;
}


/*********************************************************************
                        Contact page
**********************************************************************/

#google-map {
    height: 35rem;
}


