= "Hi #{@data[:name]}"
Thanks for your interest in Rreal Fitness and Wellness. This email is to confirm we received your sign up for a free evaluation.
One of our trainers will get in touch to confirm a time and date. Please reach out to us if you have any further questions.

Thanks, 
Rreal Fitness and Wellness

