.col
  .card.h-100.my-2
    .card-header
      %h4.mb-0= title
    %img.card-img-top{src: card_image_url, alt: title}
    .card-body.px-4
      %p.card-text= body
    .mx-auto.mb-2
      %a.button.btn.btn-lg.btn-primary.fw-bold{href: free_evalutaion_path}
        Sign up for a free evaluation
