.col
  .card.h-100
    .card-header.light-gray-bg
      %h4.mb-0= title
    %img.card-img-top{src: card_image_url, alt: title}
    .card-body.px-4
      %p.card-text= body
    .card-footer

      %a.button.btn.btn-lg.btn-primary.fw-bold{href: free_evalutaion_path}
        Sign up for a free evaluation
