.row{class: (position % 2 == 0 ? "justify-content-end" : "")}
  .col-md-9
    %figure{class: (position % 2 == 0 ? "text-end" : "text-start")}
      %blockquote.blockquote
        %p= body.html_safe
      %figcaption.blockquote-footer
        %strong= author
        - if title.present?
          %p= title.html_safe
    
