%main.container
  .row.mt-3
    .col.text-center
      %h2.title About Bobby Villarreal

  .row.mb-3
    .col.text-center
      %img{src: image_path("Bobby-Villarreal.jpg"), alt: "Bobby Villarreal", class: "img-fluid"}

  .row.mx-3
    .col.mx-md-5
      %p
        My journey to becoming a personal trainer and coach has been anything but ordinary, but it's my story and experience that has set me apart and made me one of the top trainers in the greater Boston area for almost a decade.  Born and raised in Texas I came to the northeast to attend Brown University where I received a BA in Human Biology and went on to receive a Doctorate of Medicine from the Warren Alpert School of Medicine.   After completing a residency in Orthopaedic Surgery, I came to grips with years of struggle with alcohol and addiction and was forced to make some major decisions that would change my life forever.  
      %p
        I left medicine and embodied a lifestyle that was built around fitness, nutrition and overall wellness to ensure longevity and happiness.   Shortly thereafter I turned this passion into a career and became a personal trainer with one of the nations top health clubs.   Utilizing this education, experience, and ever evolving training skill set, I quickly rose to the top as a leader in the fitness industry and have helped countless clients reach goals they never thought possible.  
      %p
        Focusing on strength and conditioning, Orthopaedic injury prevention and rehabilitation, nutrition and self-care, I have developed a style of training and coaching that reaches individuals of all backgrounds, ages and fitness levels.  My proven expertise is bringing out a version of yourself that you didn’t even think was possible, while making it fun for you every step of the way.
      %p
        Outside of training I can be found spending time working in my yard, reading and enjoying every free second with my wife and two wonderful sons.
