%main.container
  .row.mt-3
    .col.text-center
      %h2.title Contact info


  .row
    .col-12.text-center.img-fluid.col-md-8
      %img.img-fluid{src: image_path("Battle-Ropes.jpg"), alt: "Battle Ropes"}

    .col-12.col-md-4.mt-md-4
      %hr 
      %p 
        = bi_icon("telephone-fill", width: 20, height: 20)
        %tel (401) 226-6088
      %p 
        = bi_icon("compass", width: 20, height: 20)
        395 Washington St Brookline, MA 02446
      %p
        = bi_icon("mailbox", width: 20, height: 20)
        bobby@rrealfitness.com
      %hr 

  .row.my-3#google-map
    %iframe{height: "100%",
            width: "100%",
            frameborder: "0",
            style: "border:0",
            src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.3617506554942!2d-71.12533668405459!3d42.33481017918864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e379391a3fdabb%3A0xf102750224a5947b!2sRreal%20Fitness%20and%20Wellness!5e0!3m2!1sen!2sus!4v1613278855726!5m2!1sen!2sus",
            frameborder: "0",
            style: "border:0;",
            allowfullscreen:"",
            "aria-hidden" => "false",
            tabindex: "0"} 
