%main
  .row.text-center.py-5#home-page-background
    .col.col-md-6.mx-auto
      %h1 Rreal Fitness and Wellness
      %p.lead
        Brookline Premier 1-on-1 Personal Training and Health and Wellness Coaching
      %button.btn.btn-lg.btn-primary.fw-bold
        Start Today/Learn More
  .row.py-2
    .col.col-md-8.mx-auto
      %hr
      %p.lead
        RReal Fitness and Wellness is a premier personal training studio that focuses on 1-on-1 personal training and wellness coaching to take your mind and body to the next level.  Unlock your full potential and start making changes in your life that have prevented you from being the person you want to be.   Nothing changes if nothing changes
      %hr


        

  
    
