%main.container-md
  .row.mt-3
    .col.text-center
      %h2.title Independent Trainers
  .row.mb-3#independent-trainers-page-background

  .row.justify-content-center
    .col.col-md-8
      %p
        Rreal Fitness and Wellness also offers the unique opportunity for independent trainers to utilize the studio space to work with their clients in a private, safe environment.   Maximize your earnings in a setting that caters to you, your style and your business model.  There are no membership fees, only the terms  set between you and your client.

      %p
        If you're frustrated with the pay structure of your big box gym, or tired of lugging equipment around to train clients at their home, it could be time to make a change.  By only charging a flat rate per studio session booked, reach your professional earning potential while taking advantage of the beautiful space, equipment and comforts for you and your clients.  
        
  %hr 

  .row.justify-content-center
    .col-md-8
      %h4.title
        Equipment Available
    .col-md-8
      %ul
        %li 38-foot strip of padded turf
        %li Rogue Squat Stand with pullup bar
        %li Rogue Landmine attachment
        %li Rogue Adjustable Bench
        %li Rogue Echo Dog Sled
        %li Bumper and rubber encased Olympic weights
        %li PowerBlock Elite 5-90lb
        %li Kettlebells: 8, 12, 16, 18, 24 32, 48kg
        %li Dumbbells Rubber encased 5-50lb
        %li Hexbar
        %li 2 Olympic Bars
        %li TRX Supspension Trainer
        %li Full set of superbands and resistance bands with handles
        %li AssaultBike Pro
        %li Full Set 12-30” plyoboxes
        %li 40-foot Battle Ropes 
        %li PB Ski Erg
        %li Medify MA-125 Air Purifier with HEPA Filter
        %li Covid-approved cleaning supplies
        %li Shower
